@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Maru+Gothic&display=swap');

@import 'tailwindcss';

@media (max-width: 768px) {
  .swiper-button-prev {
    top: auto !important;
    bottom: 0 !important;
    padding: 0 1rem !important;
    z-index: 11 !important;
    &:after {
      font-size: 1.5rem !important;
    }
  }

  .swiper-button-next {
    top: auto !important;
    bottom: 0 !important;
    padding: 0 1rem !important;
    z-index: 11 !important;
    &:after {
      font-size: 1.5rem !important;
    }
  }
}
.swiper-pagination {
  margin-bottom: 0.5rem !important;
}

html {
  font-size: 14px;
}
